---
layout: default
title: Directory - Women Who China
people: site.data.people
categories: ['All', 'Content', 'eCommerce', 'WeChat']
---

<div class="banner">
  <div class="ellipsis"></div>

  <div class="container">

    <!-- Left Side Content Container -->
    <div class="content">
      <div class="header">The Women of China Digital Marketing</div>
      <div class="subheader">Showcasing the women who dominate the digital marketing industry in China.</div>

      <!-- Filter Container -->
      <div class="title">SELECT A CATEGORY BELOW</div>
    </div>

    <!-- Right Side Image -->
    <img class="woman-img" src="./assets/images/woman.svg" alt="Women who China image">
  </div>
</div>

<!-- Results Container -->
<div class="results">

  {% include filter.html %}

  <div class="title">SHOWING {{site.data.people.size}} RESULTS</div>

  <!-- Profile Box -->
  <div class="container">
    {% for item in site.data.people %}
    <div class="box" data-id="{{item.id}}" data-category="{{item.category}}">
      <img class="avatar" src="{{ item.image }}" alt="{{item.name}}">
      <div class="info">
        <div class="name">{{item.name}}</div>
        <div class="category">{{item.category}}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div id="blur-layer"></div>
