---
layout: default
title: Directory - Women Who China
specialty: ['All Specialties', 'Ecommerce', 'Social Media', 'Influencer (KOL)', 'Fashion & Luxury', 'Branding', 'Tourism & Hospitality', 'Food & Beverage', 'B2B', 'PR', 'Beauty']
region: ['All Regions', 'Greater China', 'Hong Kong', 'Singapore', 'Hong Kong', 'United Kingdom', 'France', 'Germany']
---

<div class="banner">
  <div class="ellipsis"></div>

  <div class="container">

    <!-- Left Side Content Container -->
    <div class="content">
      <div class="header">China Marketing Specialists</div>
      <div class="subheader">Looking for a speaker, contributor, or services related to marketing in China?<br><br>Discover women in the industry by browsing the profiles listed, or search according to speciality or region. </div>

    </div>

    <!-- Right Side Image -->
    <img class="woman-img" src="./assets/images/woman.svg" alt="Women who China image">
  </div>
</div>

<!-- Results Container -->
<div class="results">

  {% include filter.html %}
  {% include mobile-filter.html %}

  <div class="title">SHOWING 0 RESULTS</div>

  <!-- Profile Box -->
  <div class="container"></div>
</div>

<div id="blur-layer"></div>
