---
layout: default
title: Directory - Women Who China
specialty: ['All Specialties', 'Ecommerce', 'Social Media', 'Influencer (KOL)', 'Fashion & Luxury', 'Branding', 'Tourism & Hospitality', 'Food & Beverage', 'B2B', 'PR', 'Beauty']
---

<div class="banner">
  <div class="ellipsis"></div>

  <div class="container">

    <!-- Left Side Content Container -->
    <div class="content">
      <div class="header">The Women of China Digital Marketing</div>
      <div class="subheader">Showcasing the women who dominate the digital marketing industry in China.</div>

      <!-- Filter Container -->
      <div class="title">SELECT A CATEGORY BELOW</div>
    </div>

    <!-- Right Side Image -->
    <img class="woman-img" src="./assets/images/woman.svg" alt="Women who China image">
  </div>
</div>

<!-- Results Container -->
<div class="results">

  {% include filter.html %}
  {% include mobile-filter.html %}

  <div class="title">SHOWING 0 RESULTS</div>

  <!-- Profile Box -->
  <div class="container"></div>
</div>

<div id="blur-layer"></div>
