<div class="filter__container" id="filter">
  <div class="filter-cta" data-type="specialty">
    <div id='filterBtn-specialty'>All Specialties</div>
    <div class="dropdown" id="specialty">
      {% for item in page.specialty %}
        {% if item == 'All Specialties' %}
          <div data-specialty="{{item}}" data-type="specialty" class="option active">{{item}}</div>
        {% else %}
          <div data-specialty="{{item}}" data-type="specialty" class="option">{{item}}</div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="filter-cta" data-type="region">
    <div id='filterBtn-region'>All Regions</div>
    <div class="dropdown" id="region">
      {% for item in page.region %}
        {% if item == 'All Regions' %}
          <div data-region="{{item}}" data-type="region" class="option active">{{item}}</div>
        {% else %}
          <div data-region="{{item}}" data-type="region" class="option">{{item}}</div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>




