<div class="footer__container">
  <div class="container">
    <div class="note">The purpose of this directory is to give exposure to women in the industry — it is a free resource both to use and to be listed. This site provides basic information, for further details click to view the individual’s LinkedIn profile and reach out directly at your own discression. <br><br>If you are, or you know a woman who should be listed on this site, please click to submit a profile. </div>
    <div class="btn-container">
      <a href="https://women-who-china.typeform.com/to/h12MdH" target="_blank"><div class="submit-btn">Submit a Profile</div></a>

      <a href="https://women-who-china.typeform.com/to/BnoSCG" target="_blank"><div class="submit-btn">Contact Us</div></a>
    </div>
  </div>
</div>
