<div class="popups">
{% for item in site.data.list%}
  <div id="popup-{{item.id}}"class="popup__container">
    <div class="top">
      <img class="avatar" src="{{item.image}}" onerror="this.src='assets/images/default.png'" alt="{{item.name}} image">
      <div class="info">
        <div class="name">{{item.first_name}}{{item.last_name}}</div>
        <div class="category">{{item.specialty}}</div>
      </div>
      <div class="linkedin-btn">
        <img class="ln-logo" src="./assets/images/ln-logo.svg" alt="linkedin logo">
        <a href="{{item.linkedin}}" target="_blank"><div class="text">View My Linkedin</div></a>
      </div>
    </div>
    <div class="bottom">
      <div class="container">
        <div class="header">Company</div>
        <div class="text">{{item.company}}</div>
      </div>
      <div class="container">
        <div class="header">Specialty</div>
        <div class="text">{{item.specialty}}</div>
      </div>
    </div>
  </div>
{% endfor %}
</div>
