@import "variables";

a {
  text-decoration: none;
}

.footer__container {
  margin-top: 40px;
  min-height: 150px;
  padding: 20px;
  box-sizing: border-box;
  width: 100vw;
  background: $dark-red;
  display: flex;
  justify-content: center;

  .container {
    max-width: 1120px;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .note {
      color: $white;

    }

    .submit-btn {
      padding: 20px;
      margin: 20px;
      background: $white;
      color: $dark-red;
      font-weight: bold;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.25);
      transition: all .25s linear;

      &:hover {
        box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }
    }
  }
}
