@import "variables";

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.header__container {
  position: absolute;
  top: 0;
  height: 120px;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 2;

  .container {
    max-width: 1120px;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 250px;
      object-fit: contain;
      fill: $dark-red;
    }
  }
}
