@import "variables";

body {
  margin: 0;
  background: $white;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;

}

$banner-width: 100vw;
$banner-height: 80vh;
.banner {
  height: 80vh;
  width: $banner-width;
  background: white;
  position: relative;
  display: flex;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container {
    width: 90vw;
    height: 80%;
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: relative;
    align-items: center;


    .background-rec {
      position: absolute;
      right: -64px;
      opacity: .2;
      z-index: -1;
      transform: scale(0.8);
    }

    .banner-right {
      width: 90%;

        .banner-image {
          width: 90%;
          height: 100%;
          border-radius: 5px;
          object-fit: cover;
          // clip-path: polygon(100% 0, 100% 100%, 0 100%, 10% 0%);
        }

        .banner-subtitle {
          width: 90%;
          font-style: italic;
          text-align: center;
          font-size: 12px;
        }
    }

    .content {
      width: 48%;
      display: flex;
      flex-direction: column;
      color: $black;
      flex-shrink: 0;

      .logo {
        font-family: 'Courgette', cursive;
        color: $dark-red;
        font-size: 24px;
        margin-bottom: 64px;
      }

      .header {
        font-size: 48px;
        font-weight: bold;
      }

      .header-black {
        color: $black;
      }

      .header-red {
        color: $dark-red;
      }

      .subheader {
        font-size: 20px;
        margin: 16px 0 32px 0;
        font-weight: 200;
      }

      .title {
        flex-grow: 1;
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
        margin-bottom: 10px;
        display: flex;
        align-items: flex-end;
      }

      .btn-container {
        width: 100%;
        display: flex;
        margin-top: 16px;

        .btn {
          padding: 24px 32px;
          color: $white;
          font-weight: bold;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.25);
          transition: all .25s linear;
          font-family: 'Montserrat', sans-serif;
          margin-right: 16px;
          scroll-behavior: smooth;

          &:hover {
            box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25);
            cursor: pointer;
          }
        }

        .btn-submit {
          background: $dark-red;
        }

        .btn-search {
          background: $light-red;
          color: $dark-red;
        }
      }
    }
  }
}

$content-max-width: 1120px;
.results {
  width: 90vw;
  max-width: $content-max-width;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: $black;
    margin: 16px 0 8px 0;

  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .box {
      opacity: 1;
      height: 125px;
      width: 340px;
      background: white;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      margin: 16px;
      padding: 0 24px;
      transition: all .2s linear;
      flex-grow: 0;
      flex-shrink: 0;

      &:hover {
        box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }

      .avatar {
        height: 88px;
        width: 88px;
        border-radius: 50px;
        object-fit: cover;
        flex-shrink: 0;
      }

      .info {
        margin-left: 16px;
        color: $black;

        .name {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }

    .hidden {
      display: none;
      opacity: 1;
    }

    .invisible {
      opacity: 0;
    }
  }
}

#blur-layer {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  background: rgba(53, 54, 54, 0.5);
  z-index: 3;
}
