@import "variables";

body {
  margin: 0;
  background: $white;
  font-family: $font;
  display: flex;
  flex-direction: column;
  align-items: center;
}

$banner-width: 100vw;
$banner-height: 80vh;
.banner {
  height: 80vh;
  width: $banner-width;
  background: $dark-red;
  position: relative;
  display: flex;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  $radius: $banner-width / 2;
  .ellipsis {
    height: $radius * 2;
    width: $radius * 2;
    border-radius: 50%;
    background: $light-red;
    position: absolute;
    bottom: -$radius;
    right: -$radius;
  }

  .container {
    width: 90vw;
    margin-top: 10%;
    height: 60%;
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: relative;

    .woman-img {
      width: 45%;
      margin-top: auto;
    }

    .content {
      width: 50%;
      color: $white;
      display: flex;
      flex-direction: column;

      .header {
        font-size: 48px;
        font-weight: bold;
      }

      .subheader {
        font-size: 24px;
        margin-top: 16px;
        font-weight: 200;
      }

      .title {
        flex-grow: 1;
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
        margin-bottom: 10px;
        display: flex;
        align-items: flex-end;
      }
    }
  }
}

$content-max-width: 1120px;
.results {
  width: 90vw;
  max-width: $content-max-width;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: $black;
    margin: 16px 0 8px 0;

  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .box {
      opacity: 1;
      height: 125px;
      width: 340px;
      background: white;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      margin: 16px;
      padding: 0 24px;
      transition: all .2s linear;
      flex-grow: 0;
      flex-shrink: 0;

      &:hover {
        box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }

      .avatar {
        height: 88px;
        width: 88px;
        border-radius: 50px;
        object-fit: cover;
        flex-shrink: 0;
      }

      .info {
        margin-left: 16px;
        color: $black;

        .name {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }

    .hidden {
      display: none;
      opacity: 1;
    }

    .invisible {
      opacity: 0;
    }
  }
}

#blur-layer {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  background: rgba(53, 54, 54, 0.5);
  z-index: 3;
}
