@media screen and (max-width: 1023px) and (min-width: 501px) {
  .banner {
    .ellipsis {
      height: 120vw;
      width: 120vw;
      bottom: -60vw;
      right: -60vw;
    }

    .container {
      width: 80%;
      height: 80%;
      flex-direction: column;
      align-items: flex-end;

      .content {
        width: 100%;
        height: 50%;
        justify-content: flex-end;

        .header {
          font-size: 40px;
        }

        .subheader {
          font-size: 24px;
        }

        .title {
          position: absolute;
          bottom: 0;
        }
      }

      .woman-img {
        width: 55%;
      }
    }
  }

  .results {
    .container {
      .box {
        margin: 16px;
        width: 40%;
      }
    }
  }
}

.footer__container {
  .container {
    .note {
      width: 75%;
      flex-grow: 0;
      font-size: 16px;
    }

    .btn-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;

      .submit-btn {
        margin: 16px 0;
        font-size: 16px;
        padding: 16px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .header__container {
    height: 100px;

    .container {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: flex-end;
      height: 90%;

      .logo {
        display: none;
      }

      .submit-btn {
        font-size: 16px;
        padding: 12px;
      }
    }
  }

  .banner {
    height: 90vh;

    .ellipsis {
      height: 180vw;
      width: 180vw;
      bottom: -90vw;
      right: -90vw;
    }

    .container {
      margin-top: 20%;
      height: 80%;
      width: 90%;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;

      .content {
        width: 100%;
        .header {
          font-size: 40px;
        }
        .subheader {
          font-size: 16px;
        }
        .title {
          position: absolute;
          bottom: 0;
          margin-bottom: 0;
        }
      }

      .woman-img {
        width: 95%;
        margin-top: auto;
      }
    }
  }

  .results {
    width: 95vw;

    .filter__container {
      flex-wrap: wrap;

      .option {
        margin: 8px auto;
      }
    }

    .container {
      .box {
        width: 100%;
        margin: 8px 0;
        padding: 0 16px;
      }
    }
  }

  .footer__container {
    .container {
      flex-direction: column;
      .note {
        width: 100%;
      }

      .btn-container {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .submit-btn {
          margin: 16px 0;
          font-size: 16px;
          padding: 16px;
        }
      }
    }
  }

  .popup__container {
  width: 90%;
  min-height: 430px;
  top: 20%;

    .top {
      height: 120px;
      padding: 12px;

      .info {
        .name {
          font-size: 20px;
        }
        .category {
          font-size: 12px;
        }
      }

      .linkedin-btn {
        padding: 4px;
        top: 12px;
        right: 12px;

        .text {
          display: none;
        }
      }
    }
    .bottom {
      .container {
        .flex-box {
          margin-bottom: 16px;

          .header {
            font-size: 20px;
          }
          .text {
            font-size: 16px;
          }
        }
      }
    }
  }

  .mobile-filter__container {
    display: block;
  }

  .filter__container {
    display: none;
  }
}
