a {
  text-decoration: none;
}

$height: 400px;
$width: $height * 2;
.popup__container {
  display: none;
  flex-direction: column;
  height: $height;
  width: $width;
  position: fixed;
  top: 25%;
  right: 50%;
  transform: translateX(50%);
  z-index: 5;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.25);

  .top {
    height: 30%;
    width: 100%;
    background: $dark-red;
    display: flex;
    padding: 20px;
    align-items: center;
    position: relative;
    box-sizing: border-box;

    .avatar {
      height: 100%;
      width: auto;
      border-radius: 5px;
    }

    .info {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $white;
      margin-left: 16px;

      .name {
        font-size: 32px;
        font-weight: bold;
      }

      .category {
        font-size: 24px;
        font-weight: 100;
      }
    }

    .linkedin-btn {
      padding: 16px;
      display: flex;
      justify-content: space-around;
      background: white;
      border-radius: 5px;
      box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.25);
      transition: all .25s linear;
      position: absolute;
      right: 20px;
      color: $dark-red;

      &:hover {
        box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }

      .ln-logo {
        height: 18px;
        width: 18px;
      }

      .text {
        margin-left: 8px;
        font-size: 16px;
      }
    }
  }

  .bottom {
    height: 60%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    padding: 20px;
    box-sizing: border-box;

    .container {
      flex: 1;
      display: flex;
      box-sizing: border-box;
      position: relative;
      margin-bottom: 10px;

      .flex-box {
        height: 100%;
        position: relative;
        flex: 1;

        .header {
          font-size: 24px;
          font-weight: bold;
          color: $light-red;
        }

        .text {
          font-size: 16px;
          font-weight: 100;
          color: $black;
          margin-top: 8px;
          max-height: 100px;
          overflow: scroll;
        }
      }
    }
  }
  .link {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    color: $light-red;
    cursor: pointer;
    transition: all .2s linear;

    &:hover {
      color: $dark-red;
    }
  }
}
